
<!-- partial:index.partial.html -->
<div class='preload login--container'>
  <div class='login--form'>
    <div class='login--username-container'>
      <div class="greet-head">
        Welcome to our page❤️
      </div>      
      <div class="greet-body">
        Feel free to share your post.
      </div>
    </div>
    <div class='login--password-container'>
      <p>A new story begins here...</p>
      <br><br>
      <a href="/auth/google" class="btn red darken-1 google-login">
        <i class="fab fa-google left"></i>Login with google
    </a>
    
    </div>
  </div>
  <div class='login--toggle-container'>
    <h6>A,</h6>
    <div class='js-toggle-login'>Story</div>
    <h7>begins here...</h7>
  </div>
</div>



